# Notebooks
.ipynb_checkpoints/

# General
archive/
config/
data
figures/
images/
results/
tmp/
models/

# SQLLITE
*.sqlite

# pip
Pipfile.lock
Pipfile

# PyCharm
.idea/
__pycache__/

# Images
*.png
*.dot

